{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
</head>

<body>
    <header id="main_navigation" class="clearfix">
        <a href="#" class="name">Pacifique Uwayezu</a>
        <nav>
            <a href="#">Articles</a>
            <a href="#">Projects</a>
            <a href="#">Contacts</a>
        </nav>

    </header>

    <h1 id="page_title">Stuff I've Written</h1>
    <div id="posts_wrapper" class="skinny_wrapper">
        <div class="post">
            <p class="date">Sunday, March 9 2020</p>
            <h2><a href="#">OOP in Python</a></h2>
            <hr>
        </div>
        <div class="post">
            <p class="date">Sunday, March 9 2020</p>
            <h2><a href="#">OOP in Python</a></h2>
            <hr>
        </div>
        <div class="post">
            <p class="date">Sunday, March 9 2020</p>
            <h2><a href="#">OOP in Python</a></h2>
            <hr>
        </div>
        <div class="post">
            <p class="date">Sunday, March 9 2020</p>
            <h2><a href="#">OOP in Python</a></h2>
            <hr>
        </div>

    </div>

    <div class="pagination">
        <span class="previous_page disabled">Previous</span>
        <em class="current">1</em>
        <a rel="next" href="#">2</a>
        <a class="next_page" href="#">Next</a>
    </div>

    <footer id="main_footer">
        <p class="copyright">&copy; 2020
            Pacifique Uwayezu
        </p>
        <nav>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </nav>
    </footer>

    {% block scripts %}
    <script src="https://kit.fontawesome.com/f9f608f74e.js" crossorigin="anonymous"></script>

    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>