{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
</head>

<body>
    <header id="main_navigation" class="clearfix">
        <a href="#" class="name">Pacifique Uwayezu</a>
        <nav>
            <a href="#">Articles</a>
            <a href="#">Projects</a>
            <a href="#">Contacts</a>
        </nav>

    </header>

    <h1 id="page_title">Say Hello</h1>

    <div class="skinny_wrapper wrapper_padding">
        <label for="">Name</label><br>
        <input type="text">

        <br>

        <label for="">Email</label><br>
        <input type="text">

        <br>

        <label for="">Message</label><br>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <br>

        <input type="submit" value="Send Message" class="button">

    </div>

    <footer id="main_footer">
        <p class="copyright">&copy; 2020
            Pacifique Uwayezu
        </p>
        <nav>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </nav>
    </footer>

    {% block scripts %}
    <script src="https://kit.fontawesome.com/f9f608f74e.js" crossorigin="anonymous"></script>

    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>